<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script charset="utf-8" type="text/javascript" src="/kindeditor/kindeditor-min.js"></script>
  <script charset="utf-8" type="text/javascript" src="/kindeditor/lang/en.js"></script>
  <script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) {
      editor = K.create('textarea', {
        allowImageUpload: false,
        items: [
          'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
          'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
          'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
      });
    });
  </script>
</head>
<body>

<header>
  <h1><%= title %></h1>
</header>

<nav>
  <span><a title="Index" href="/">home</a></span>
  <% if (user) { %>
  <span><a title="Upload" href="/upload">Upload</a></span>
  <span><a title="Post" href="/post">Post</a></span>
  <span><a title="Logout" href="/Logout">Logout</a></span>
  <% } else { %>
  <span><a title="Login" href="/login">Login</a></span>
  <span><a title="Registration" href="/reg">Register</a></span>
  <% } %>
  <span><a title="Archive" href="/archive">Archive</a></span>
  <span><a title="Tags" href="/tags">Tags</a></span>
  <span><a href="/links" title="Links" >Links</a></span>
  <span>
    <form action="/search" method="get">
      <input type="text" name="keyword" placeholder="SEARCH" class="search"/>
    </form>
  </span>

</nav>

<article>

<% if (success) { %>
<div><%= success %></div>
<% } %>

<% if (error) { %>
<div><%= error %></div>
<% } %>
