<%- include header %>
<ul style="list-style: none">
  <li><h3><a href="http://nba.hupu.com" target="_blank">Hupu NBA</a></h3>Good games this season</li>
  <li><h3><a href="http://nba.sina.com" target="_blank">Sina NBA</a></h3>Playoffs</li>
</ul>


<%- include footer %>


