<br>
<div>
  <% if (!isFirstPage) { %>
       <span class="prepage"><a title="prepage" href="?p=<%= page - 1%>">Last Page</a></span>
  <% } %>


  <% if (!isLastPage) { %>
    <span class="nextpage"><a title="nextpage" href="?p=<%= page + 1%>">Next Page</a></span>
  <% } %>

</div>