<%- include header%>
<form method="post">
  Username: <input type="text" name="username"/><br>
  Password: <input type="password" name="password"/><br>
  Repeat Password: <input type="password" name="repeat-password"/><br>
  Email: <input type="email" name="email"/><br>
  <input type="submit" value="Register"/>


</form>


<%- include footer%>
